<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">We ofer free, simple uptime monitoring for HTTP/HTTPS sites of all nids. When your site goes down, we'll sen you a text to let you now.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque a eros nec consequat. Pellentesque viverra aliquam augue sit amet ornare.</div>
<div class="ctaWrapper">
	<a class="cta green" href="account/create">Get Stated</a>
	<a class="cta blue" href="session/create">Login</a>
</div>

